<div class="page-container">
    <h3>Detalle Mails</h3>


    <div class="tab-pane fade show" id="case" role="tabpanel">
        <div class="row mb-3">
            <div class="col-md-3 wrap"><div class="card-body shadow-sm"><h5 class="card-title">caseOwner</h5><h6 class="card-subtitle text-primary"></h6><button type="button" class="btn btn-outline-primary btn-sm mr-2"   data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="icon ion-md-add"></i></button></div></div>
            <div class="col-md-3 wrap"><div class="card-body shadow-sm"><h5 class="card-title">caseEscalation1</h5><h6 class="card-subtitle text-primary"></h6><button type="button" class="btn btn-outline-primary btn-sm mr-2"   data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="icon ion-md-add"></i></button></div></div>
            <div class="col-md-3 wrap"><div class="card-body shadow-sm"><h5 class="card-title">caseFAW</h5><h6 class="card-subtitle text-primary"></h6><button type="button" class="btn btn-outline-primary btn-sm mr-2"   data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="icon ion-md-add"></i></button></div></div>
            <div class="col-md-3 wrap"><div class="card-body shadow-sm"><h5 class="card-title">caseLAW</h5><h6 class="card-subtitle text-primary"></h6><button type="button" class="btn btn-outline-primary btn-sm mr-2"   data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="icon ion-md-add"></i></button></div></div>
            <div class="col-md-3 wrap"><div class="card-body shadow-sm"><h5 class="card-title">caseEscalation2</h5><h6 class="card-subtitle text-primary"></h6><button type="button" class="btn btn-outline-primary btn-sm mr-2"   data-toggle="tooltip" data-placement="bottom" title="Editar"><i class="icon ion-md-add"></i></button></div></div>
        </div>
    </div>

</div>