<div class="page-container" >
	<form class="p-3 mb-2" [formGroup]="jobForm" (ngSubmit)="save()">
		<div class="form-row">
			<div class="col-md-3"></div>
			<div class="mb-3 col-md-6">
				<h3>{{title}}</h3>
			</div>
			<div class="col-md-3"></div>
		</div>
		<div class="form-row">
			<div class="col-md-3"></div>
			<mat-form-field class="form-group col-md-6"> 
				<input matInput placeholder="Codigo" formControlName="code"> 
				<mat-error *ngIf="form.code.hasError('required')">Dato Obligatorio</mat-error> 
			</mat-form-field>	
			<div class="col-md-3"></div>
		</div>
		<div class="form-row">
			<div class="col-md-3"></div>
			<mat-form-field class="form-group col-md-6"> 
				<input matInput placeholder="Descripcion" formControlName="description"> 
				<mat-error *ngIf="form.description.hasError('required')">Dato Obligatorio</mat-error> 
			</mat-form-field>	
			<div class="col-md-3"></div>
		</div>
		<div class="form-row">
			<div class="col-md-3"></div>
			<mat-slide-toggle class="form-group col-md-6" formControlName="enabled" color="primary" >Habilitada</mat-slide-toggle>
			<div class="col-md-3"></div>
		</div>
		<div class="form-row">
			<div class="col-md-3"></div>
			<mat-form-field class="form-group col-md-6"> 
				<mat-label>Job Type</mat-label>
				<mat-select formControlName="type">
					<mat-option *ngFor="let row of types" value="{{row.oid}}">{{row.code}} - {{row.description}}</mat-option>
				</mat-select>
				<mat-error *ngIf="form.type.hasError('required')">Dato Obligatorio</mat-error> 
			</mat-form-field>	
			<div class="col-md-3"></div>
		</div>
		<div class="form-row">
			<div class="col-md-3"></div>
			<mat-form-field class="form-group col-md-6"> 
				<input matInput placeholder="Parametros" formControlName="params"> 
				<mat-error *ngIf="form.params.hasError('format')">Formato invalido</mat-error> 
			</mat-form-field>	
			<div class="col-md-3"></div>
		</div>
		<div class="form-row">
			<div class="col-md-3"></div>
			<mat-form-field class="form-group col-md-6"> 
				<input matInput placeholder="Cron" formControlName="cronExpression"> 
				<mat-error *ngIf="form.cronExpression.hasError('required')">Dato Obligatorio</mat-error> 
			</mat-form-field>	
			<div class="col-md-3"></div>
		</div>
		<div class="form-row">
			<div class="form-group col-md-9 text-right">
				<button type="button" class="btn btn-secondary mr-2" onclick="window.history.back()">Cancelar</button>
				<button type="submit" class="btn btn-primary" ><i class="icon ion-md-save mr-2"></i>Grabar</button>
			</div>
		</div>
	</form>
</div>