.example-tree-invisible {
  display: none;
}

.example-tree{
   background-color: rgba(194, 197, 202, 1) ;
}
.example-tree ul,
.example-tree li {
  margin-top: 0;
  margin-bottom: 0;
  list-style-type: none;

}
div .row{
  display: flex;
  justify-content: flex-end;
}
mat-tree{
  width: 70%;


}

mat-icon{

   border:none;
   background-color: white;

}
button{
  border: none;
  background-color: none;
  background-color: rgba(194, 197, 202, 1) ;
}
mat-tree-node {

       background-color: rgba(194, 197, 202, 1) ;
}
.buttonNode{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(194, 197, 202, 1);
}
.mat-icon-rtl-mirror{
  background-color: rgba(194, 197, 202, 1);

}
.btn-icon-input {
  position: absolute;
  right: 8%;
  bottom: 0px;
  top: 0px;
  z-index: 1;
  background: white;
  color: #007ab3;
}

.sticky-btn{
  cursor: pointer;
  color: rgba(0,0,0,.4);
}

.sticky-btn:hover .icon-sticky-btn{
  color: rgba(0,0,0,.7);
}

.btn--on{
  color: rgba(0,0,0,.7);
}

@media (max-width:768px) {
  .border{
    border:0px solid !important
  }

  .sticky-btn{
    display: none;
  }
}
.jumboDesp{
  /*position: absolute;
  width: 100%;
  z-index: 2000;
  left: 0;
  right: 0;
  background-color: aliceblue;
  padding: 0.5rem 0;
  */

  position: absolute;
  clear: both;
  width: 100%;
  max-width: 2000000px!important;
  height: -webkit-fill-available;
  left: 0 !important;
  right: 0 !important;
  overflow: auto;
  padding: 0;
  background-color: transparent !important;
  top: 89px;
}

.enuName-bread{
display: flex;
flex-flow: column;
}
.fav-item{

display: flex;
justify-content: space-between;
padding-right: 10px;
padding-left: 10px;
padding-bottom: 3px;

}
.fav-item:hover{
  background-color: #f1f1f1;
}
.scroll-opts{
  overflow: auto;
  max-height: 500px;
}

.underline{
  text-decoration: underline;
}

.jumboDesp > .container{
  /*position: absolute;
  width: 100%;
  z-index: 2000;
  left: 0;
  right: 0;
  background-color: aliceblue;
  padding: 0.5rem 0;
  */
  background-color: #f6f5f5 !important;
}

.mat-tab-group {    
  font-family: "AllianzNeoR" !important;
}

.mat-tab-label-content {
  font-family: "AllianzNeoR" !important;
}

.mat-tab-label, .mat-tab-link {
  
  font-family: "AllianzNeoR" !important;
}

.hoverAzul:hover{
  color : #4580E6 !important;
}

.category-wrapper{
  padding: 10px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  border-bottom: solid 1px;
  border-color:  rgba(0,0,0,.15);
}
.category{
  color: #003781;
}

.drop-menu{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 10rem;
  padding: .5rem 0;
  margin: .125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
}



.cruz{
align-self: center;
}
.liFavoritos{
width: 346px;
}
.menuFavoritos{
width: 455px;
}
li:hover .btn-star-border {
  visibility: visible;
} 


.mat-tab-label{
  padding: 0 6px !important;
}

.collapse-li {
  list-style: none;
  padding: 10px 0;
}

.collapse-li li{
  position: relative;
  line-height: normal;
  min-height: 0;
  padding: 0;
  margin: 0 0 0 0;
  height: auto;
  width: 200px; 
  overflow: hidden; 
}

.collapse-li li a{
  padding: 5px 20px 5px 0;
  margin: 0;
}
app-iframe-container-menudesktop{
 display: none;
}

.navbar-av {
  padding: 0
}

.navbar-av a {
  font-size: 14px;
  cursor: pointer;
}

.navbar-av a:hover {
  color: #007ab3 !important;
}
.tooltip-arrow-a {
  position: absolute;
  top: -10px;
  right: 66%;
}
.menu-aux-a {
  margin-top: 26px;
  left: -112px;
}

/* .tab-icon {
  font-size: 17px;
  margin-right: 7px;
  color: #616161;
} */

.mat-tab-label-active ng-template mat-icon .tab-icon {
  color:green !important;
}
/* SKELETON*/

.skeleton-box {
  display: inline-block;
  height: 1em;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #e9eaef;
  margin-bottom: 2%;
  border-radius:5px;
}
.skeleton-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 3s infinite;
          animation: shimmer 3s infinite;
  content: '';
}
.skeleton-dialog-box {
  display: inline-block;
  height: 1em;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #e9eaef;
  
  border-radius:5px;
 
}
.skeleton-dialog-box::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.2) 20%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0));
  -webkit-animation: shimmer 3s infinite;
          animation: shimmer 3s infinite;
  content: '';
}
@-webkit-keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
@keyframes shimmer {
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
 #date-skeleton{
     float:right;
     margin-right:4%;
 }