
<nav [ngStyle]="obtenerZIndex()"
  class="navbar navbar-expand-lg navbar-light border-bottom py-3 px-4 d-none d-lg-block bg-white"
  [ngClass]="(stickyLock) ? 'sticky-top' : ''" style="padding-top: 4px!important;padding-bottom: 4px!important;" ><!-- MERJORA NAV -->

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

    <a class="navbar-brand" (click)="showHome()" style="cursor:pointer;">
      <img src="assets/imgs/allianz-logo.png" style="width: 128px; height: auto;" class="d-inline-block align-top"
        alt="">
    </a>

  
    <app-menu-desp-desktop2 #menu> </app-menu-desp-desktop2>

   <div [nxTooltipShowDelay]="200" [nxTooltipHideDelay]="500" [nxTooltip]="stickyLock ? 'Desanclar menú' : 'Anclar menú'"
      [nxTooltipPosition]="'bottom'" class="sticky-btn" (click)="toggleStricky()">
    </div>
  </div>
</nav>
